*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 14px;
    line-height: 24px;
    font-family: 'Courier New', Courier, monospace;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Times New Roman', Times, serif;
}
a a:hover{
    text-decoration: none;
}




.container{
    max-width: 1140px;
    margin: 0px auto;
}
.row{
    width: 100%;
    float: left;
}

.col-lg-4{
    width: 33.33%;
    float: left;
}
.col-lg-12{
    width: 100%;
    float: left;
}





.header{
    width: 100%;
    float: left;
}
.hdr{
    height: 100px;
    background-color: #050033;
}





.banner{
    width: 100%;
    float: left;
}
.cl1{
    height: 300px;
    background-color: rgba(207, 161, 131, 0.685);
}
.cl2{
    height: 300px;
    background-color: #c5e798;
}
.cl3{
    height: 300px;
    background-color: rgb(144, 223, 192);
}


.slider{
    width: 100%;
    float: left;
}
.sl{
    height: 350px;
    background-color: #538794;
}

.footer{
    width: 100%;
    float: left;
}
.fdr{
    height: 80px;
    background-color: #660033;
}
